<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings xdt:Transform="Replace">
		<add name="HomeownersRW" connectionString="Data Source=SUPOLHSSQL01.e-ins.net;Application Name=WSAddressScrubber;Initial Catalog=ASI1;Persist Security Info=True;Integrated Security=true;MultiSubnetFailover=True" providerName="System.Data.SqlClient" />
		<add name="HomeownersRO" connectionString="Data Source=SUPOLHSSQL01.e-ins.net;Application Name=WSAddressScrubber;Initial Catalog=ASI1;Persist Security Info=True;Integrated Security=true;MultiSubnetFailover=True;ApplicationIntent=ReadOnly" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings xdt:Transform="InsertIfMissing"/>
	<appSettings xdt:Transform="Replace">
		<add key="DataFilesPath" value="C:\Program Files (x86)\3rd Party\Melissa DATA\COM Objects\Data Files\"/>
		<add key="RedisHostName" value="pit-qaredis.e-ins.net" />
		<add key="RedisDBID" value="1" />
		<add key="RedisCacheRetention" value="60" />
		<add key="PreciselyRedisCacheRetention" value="55" />
		<add key="PreciselyBasicAuthUsername" value="798eef4b8732b119" />
		<add key="PreciselyBasicAuthP" value="qdiJdNptaEuZfIxgbtIAJ0rD2m5JEAhL" />
		<add key="PreciselyBasicAuthURI" value="https://dis-developer.api.cloud.precisely.com/auth/v2/token" />
		<add key="PreciselyGeocodeURI" value="https://dis-developer.api.cloud.precisely.com/li/v1/oas/geocode" />
	</appSettings>
	<system.web xdt:Transform="Replace">
		<compilation debug="false" strict="false" explicit="true" targetFramework="4.7.2"/>
		<authentication mode="None"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<applicationSettings xdt:Transform="Replace">
		<WSAddressScrubber.My.MySettings>
			<setting name="DataFilesPath" serializeAs="String">
				<value>C:\Program Files (x86)\3rd Party\Melissa DATA\COM Objects\Data Files\</value>
			</setting>
		</WSAddressScrubber.My.MySettings>
	</applicationSettings>
</configuration>
